/* font-size */
.f10 {font-size: 10px;}
.f12 {font-size: 12px;}
.f14 {font-size: 14px;}
.f15 {font-size: 15px;}
.f120 {font-size: 120%;}

/* font-weight */
.fontwt-normal {font-weight: normal;}
.fontwt-bold {font-weight: bold;}

/* font color  */
.txt-gray1 {color: #a4a3a3;}
.txt-gray2 {color: #797575;}
.txt-red1 {color: #ef2e0f;}

/* text-align */
.txt-center {text-align:center;}  

/* height */
.hg-10 {height: 10px;}
.hg-15 {height: 15px;}
.hg-20 {height: 20px;}
.hg-30 {height: 30px;}
.hg-40 {height: 40px;}
.hg-50 {height: 50px;}

/* margin  */
.ml5 {margin-left: 5px;}
.ml20 {margin-left: 20px;}
.ml10 {margin-left: 10px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mb10 {margin-bottom: 10px;}
.mb30 {margin-bottom: 30px;}
.mr15 {margin-right: 15px;}

/* padding */
.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt20 {padding-top: 20px;}
.pl5 {padding-left: 5px;}
.pl12 {padding-left: 12px;}
.pl100 {padding-left: 100px;}
.pb5 {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}

/* display 타입 */
.ds-block {display: block;}
.ds-inlineblock {display: inline-block;}
.valign {vertical-align: middle;}

/* ul, ol, li 공통 */
ul, ol, li {
    list-style: none;
    /*-webkit-padding-start:5px;*/
}

/* 버튼 공통 */
.btn-default-ok {
	background-color: #ffc107;
   	color: white;
   	font-weight: 900;
   	border: none; 
   	border-radius: 4px; 
	cursor: pointer; 	
}	
.btn-default-cancel {
	background-color: #d6d4d4;
   	color: white;
   	font-weight: 900;
   	border: none; 
   	border-radius: 4px; 
	cursor: pointer; 
}
.btn-default-ok:focus, .btn-default-cancel:focus {	
	outline: none;	
}
.btn-search{
	width: 310px; 
	height: 30px;
	font-size: 15px;
    margin: 25px 5px 0px 5px;
}
.btn-modal{
	width: 50px; 
	height: 25px;
	font-size: 12px;
}

/* select타입 공통 */
select::-ms-expand {
	display: none;
} 
/* 모달창 공통 */
/*
.modal{	
	margin-top:110px;
}
*/

/*
.modal-dialog-centered {
	display:-ms-flexbox;
	display:flex;
	-ms-flex-align:center;
	align-items:center;
	min-height:calc(100% - (.5rem * 2))
}

.modal-dialog-centered::before{
	display:block;
	height:calc(100vh - (.5rem * 2));
	content:""
}
*/



/* 상단 공통 */
.outer {
	width:860px;
	margin-left:auto;
	margin-right:auto;
}
.outer p.pb25 {margin-top:-30px;line-height:1.4;}
.main-title {
	margin-top: 35px; 
	font-size: 20px;
	font-weight: 900;
}	
hr.garo {
	border: 1px solid #757272;
	margin: 17px 0px 10px 0px;
} 

/* 차량예약 왼쪽 전체 */
#car-info-left { 
	width: 340px;          
    height: 370px;
    border-right: 1px solid #757272;
    margin-top: 10px;
    display: inline-block;
    box-sizing : border-box;
}
.left-margin {
	margin: 0px 0px 0px 5px;   
}	
.left-margin td {
	font-size: 13px;
	color: red; 
}
.label-title-first {
  	font-size: 15px;
  	font-weight:900;
  	color:#1f1e1e;
  	display: inline-block;
  	margin-left: 5px;
}
.label-title {
  	font-size: 15px;
  	font-weight:900;
  	color:#1f1e1e;
  	display: inline-block;
  	margin: 15px 0px 5px 5px;
}
/* 나의 지점 타이틀 */
.mybranch {
	font-size: 9px;
  	font-weight: 900;
  	color: #716f6f;
  	display: inline-block;
  	margin: 20px 0px 5px 190px;
  	cursor: pointer;
}
/* 차량예약 input 태그(기간선택/지점선택) */		
.reservation-input {
	position: relative;
	display:inline-block;
	width:150px;
	height: 30px;
	border-radius: 4px;
	background: url('../../images/select.png') #fff right center no-repeat;
	overflow:hidden; 
	vertical-align: middle; 
	border: 1px solid #bbb; 
	box-sizing: border-box; 
	font-size: 13px;
	color: #757272; 
	padding: 0px 10px; 
	cursor: pointer;
}
/* 차량유형  */
#car-type-list table {
	width: 309px;
    border-collapse: collapse;    	   
}  	
#car-type-list td {
	border: 1px solid #dad0d0;
	text-align: center;
	text-valign: middle;
    color: #716f6f;
    width: 103px;
    height: 33px;
    cursor: pointer;
}

/* 차량예약 오른쪽 전체 */   
#car-info-right, #car-search-result {		
	width:	510px;
	/*height: 360px; */
	/*border: 1px solid #757272;*/
	margin-top: 5px;
	margin-left: 10px;
	display: inline-block;	
	box-sizing : border-box;      
}
#car-info-right table {
	width:100%;
}	
#car-info-right td {
	height: 20px;
	color: #757272; 
	font-size:14px;
}
#car-info-right img {			
	width: 80px;
	height: 80px;
}
/* 지점안내/요금안내/공지사항/이벤트 타이틀 */
.car-info-title {
	font-size:15px;
	font-weight:900;
	color:#1f1e1e;
}		

/* 대여지점선택 모달창 */	
.wrap-branch {
	width: 98%;
	/*height: 300px;*/
	border: 0px solid red;		
	margin-left:auto;
	margin-right:auto;
	display: inline-block;
}
.left-branch, .right-branch {
	width: 48%;
	/*height: 500px;*/
	border: 0px solid blue;
	display: inline-block;
	margin-left: 10px;
	/*margin:0px 0px;*/
}
/* 타이틀 */
.label-top-title {
  	font-size: 15px;
  	font-weight:900;
  	color:#1f1e1e;
  	display: inline-block
}
.label-top-title-date {margin-left: 5px; margin-top: 3px;}	
.label-top-title-branch {padding-left: 200px;}	
/* 지역 리스트 */
.wrap-branch select { 
 	width: 100%;
 	/*margin-left: 5px;*/
	padding: 4px 4px;
	border: 1px solid #999;
    background: url('../../images/select.png') no-repeat 98% 50%;
    border-radius: 4px; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    font-size:15px;
} 
/* 지점 리스트 */
#selRentDiv, #selReturnDiv {
	border: 1px solid gray;
	overflow:auto; 
	overflow-x:hidden;
	height: 300px;
	/*position:relative;*/
	padding: 15px 0px 0px 0px;
	margin: 5px 0px 0px 0px;
	border: 1px solid #ccc; 
	background: #fdfdfd; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
/* 지점리스트, 지점안내 */
.select-branch ul {margin-left: 5px;}
.select-branch li {position: relative; height:35px;}
.select-branch li label {
	display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}
.select-branch li img {
    vertical-align: middle;
    border-style: none;
    margin-left: 5px;
    width:55px;
}
.select-branch li a.libtn { position: absolute; right:10px;}
.radio-branch {vertical-align:-3px}		
.btn-white {
	color: #868383;
    background-color: #f9f7f7;
    border: 1px solid #dcd9d9;
    display: inline-block;
   	vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    position: absolute;
    height: 25px;
   	border-radius: 0px;
    font-size: 14px;
}
.btn-white:link, .btn-white:visited, .btn-white:hover, .btn-white:active,
.mybranch:link, .mybranch:visited, .mybranch:hover, .mybranch:active {
	color: #868383;
	text-decoration: none;
}	

/* 차량검색 결과 */
.btn-reservation {
	color: white;
    background-color: #197ac7;
    border: 1px solid #eae8e8;
    display: inline-block;
    margin-left: 150px;
   	margin-top: 25px;
    padding-left: 12px;
    padding-right: 12px;
    vertical-align: middle;
    height: 28px;
    border-radius: 0px;
    cursor: pointer;
}
.list-car {
	width: 500px;
    height: 350px;
    overflow:auto; 
    overflow-x:hidden;    
    margin-left: 10px;
    box-sizing : border-box
}
/* 차량타입/가격/주유타입/ 동승인원표시 */	
.car-type {padding-left:10px; font-weight:bold; font-size:20px; color:#888383;}
.car-price {padding-right:10px; text-align:right; font-weight:bold; font-size:20px; color:#888383;}
.ico-gas>img {margin: 5px 20px 0px 10px;}
.ico-people-wrap {
	width: 43px;
	height: 48px;	
	position: relative;
	display: inline-block;
}
.ico-people img {vertical-align: middle;}	
.ico-people-text {		
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}
.ico-people-count {
	margin-top: 30px; 
	margin-bottom: 0px; 
	font-size: 15px;
	color: #197ac7;
	font-weight: bold;
}

/* 나의 지점 모달 창 */
.mybranch-table .tb-col thead th:first-child, .mybranch-table .tb-col tbody td:first-child {border-left: 0px;} 
.mybranch-table .tb-col thead th {
    background: #fafafa;
    color: #000;
    font-weight: bold;
    text-align: center;
}
.mybranch-table .tb-col thead th, .mybranch-table .tb-col tbody th, .mybranch-table .tb-col tbody td {
    height: 19px;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 11px 10px 9px 10px;
    text-align: center;
}

.option-left { 
	width: 360px;  
	border: 0px solid red;
	margin-top: 15px;
	display: inline-block;
	box-sizing : border-box;
}
	
.option-left-top { 
	width: 360px;          
	height: 360px;
	border: 1px solid #a7a0a0;
	display: inline-block;
	box-sizing : border-box;
}

.option-right {		
	width:	480px;
	/*height: 700px; */
	border: 0px solid red;  
	margin-top: 15px;
	margin-left: 20px;
	display: inline-block;		 
	box-sizing : border-box;    
	display: block;  
}

.option-right-hr {
	width:99%;	
	border-bottom: 1px solid #757272; 
	padding: 0px 0px 15px 0px; 
}

/* 렌트 기간/지점 정보 */
.box-schd {
    width: 350px;
    height: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.box-schd span {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    text-align: center;
    margin-left: -4px;
    color: #666; 
    font-weight:normal; 
    font-size:14px;
}
.box-schd span strong { display: block; margin:0 0 5px 0; color: #666; font-weight:normal;  }
.box-schd span em { display: block; color: #000; }
.box-schd .ico-to { 
	display:inline-block; 
	vertical-align:middle; 
	width:10%; 
	height:13px; 
	font-size:0;
	margin-left:-4px; 
	background:url('../../images/ico_to.png') center no-repeat;
}

/* 렌트카 이미지 */
.box-car {
	width: 350px; 
	margin-top : 15px;
	margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
	border-top: 1px solid #a7a0a0;
	font-weight: bold; 
	font-size: 20px; 
	color: #797676;
	text-align: center;
}
.box-car .img-car img { width:300px; height:230px; }

/* 금액 정보 */
.box-price { 
	width: 360px;
    margin-top: 10px;
    padding: 20px 20px;
    background: #f3f1f1;
    color: /*#3e3b3b*/#797676;
    border: 1px solid #797676
}
.box-price > ul > li {margin-top: 28px;}
.box-price > ul > li:first-child {margin-top: 0} 
.box-price > ul > li > .tit {vertical-align: middle; padding-bottom: 5px;}
.box-price span {display: inline-block; font-size: 18px;}
.box-price .tit {
	padding-left:10px;
	width:50%;	
	background: url(../../images/bul_black.png) 0 13px no-repeat;
	box-sizing: border-box;
	font-weight: 600;
}
.box-price .price {
	width:50%;
	text-align:right;
}
.box-price .price strong {
	margin-right:5px;
	line-height:10px;
	font-size:25px;
	font-weight: 700;
}
.box-price .price em {
	font-style: normal;
	font-size: 15px;
	font-weight: 700;
}
.box-price ul li .detail li:first-child {margin-top: 3px}
.box-price ul li .detail li {overflow:hidden}
.box-price ul li .detail span {float:left; font-size:14px; color: #6f6c6c; background:none;}
.box-price ul li .detail span.tit {width:70%}
.box-price ul li .detail span.price {width:30%}
.box-price ul li .detail span strong {font-size:14px; line-height: 25px; font-weight:normal;}
.box-price ul li.total {padding-top:20px; border-top: 2px solid #717579;}
.box-price ul li.total .tit {width:20%;vertical-align:text-bottom;font-weight: 600; background:none;}
.box-price ul li.total .price {width:80%;color: #f04040;}
.box-price ul li.total .price strong {font-size:30px;}

/* 이벤트/할인 */
.option-right input[type=radio] {margin-left: 10px; vertical-align: -3px;}
.option-right input[type=radio]+label {
    /*position: relative;*/
    display: inline-block;
    padding: 5px 0 0 10px;
    height: 25px;
    overflow: hidden;
    vertical-align: middle;
    line-height: 19px;
    font-weight: normal;
}
.option-right .radio-vt select { 
	width: 300px;    
	height: 30px;
    padding-left: 5px;
    border: 1px solid #999;
    font-size: 14px;
    background: url(../../images/select.png) no-repeat 98% 50%;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} 

/* 기타옵션 */
.btn-tooltip {
	display:inline-block;
	width:16px; 
	height:16px; 
	vertical-align:text-bottom; 
	margin-bottom:1px; 
	background:url(../../images/btn_tooltip.png) 0 0 no-repeat; 
	text-indent:-9999px;
}

/* 이전/다음 버튼 */
.optionBtn {
	width:100%;
	text-align: center;
}

.btn-prev, .btn-next {
	width: 150px; 
	height: 30px;
	font-size: 15px;
    margin: 15px 5px 0px 5px;
}

/* 모달창 관련 스크롤 */
/*
.modal{	
	margin-top:110px;
}
*/
#cdwInfo .modal-content {
	overflow-y: initial !important
}
#cdwInfo .modal-body {
	height: 500px;
	overflow-y: auto;
}
.txt-list li.check {
    padding: 0 0 10px 14px;
    color: #6d6d6d;
    background: url(../../images/check_orange.png) 0 7px no-repeat;
}
.pay-info .txt-list li.check {
    padding: 0 0 10px 14px;
    color: #ccc;
    background: url(../../images/check_orange.png) 0 7px no-repeat;
}

/* input 관련 태그 */
input[readonly] {background-color: #f5f5f5;color:#5b5a5a;} 
input[readonly]:focus  { outline: none;	}

/* 개인정보/면허정보 */
.grid .tb_noBorder {
    width: 100%;
    border: 0;
}
.grid th .grid td {
   /* font-size: 14px;*/
}
.grid tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.grid .tb-noBorder tbody tr th {
    padding: 5px 5px 5px 10px;
    text-align: left;
    background: #fafafa;
    color: #000;
    vertical-align: top;
    font-weight: normal;
    font-size: 14px;
    background: url(../../images/bul_black.png) 0 15px no-repeat;
}
.grid td input {
    display: inline-block;
    width: 300px;
    height: 30px;
    border-radius: 4px;
    vertical-align: middle;
    border: 1px solid #bbb;
    box-sizing: border-box;
    font-size: 14px;
    color: #757272;
    padding: 0px 10px;
    margin-bottom: 10px;
    font-size: 14px;    
}
.grid .licenseDateY, .grid .licenseDateM, .grid .licenseDateD {
	position: relative;
	display: inline-block;
}
.grid .licenseDateY span, .grid .licenseDateM span, .grid .licenseDateD span { 
	position: absolute; 
	padding-top: 4px;	
	padding-left: 3px;
	font-size: 14px;
	color: #757272;
}
.grid select {
    display: inline-block;
    width: 300px;
    height: 30px;
    border-radius: 4px;
    vertical-align: middle;
    border: 1px solid #bbb;
    box-sizing: border-box;
    font-size: 14px;
    color: #757272;
    padding: 0px 10px;
    margin-bottom: 10px;
    background: url(../../images/select.png) no-repeat 98% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.hyphen {vertical-align: top; color:#999}

/* 이용동의 관련  체크박스*/
.user-agreement p {
	padding: 10px 0 5px 0;
    color: #000;
}
.user-agreement input[type=checkbox] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.user-agreement input[type=checkbox]+label {
    height: auto;
    font-weight: bold;
}
.user-agreement input[type=checkbox]+label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 25px;
    height: 20px;
    vertical-align: middle;
    overflow: hidden;
    line-height: 19px;
}
.user-agreement input[type=checkbox]+label .icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 1px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 0;
}
.user-agreement input[type=checkbox]:checked + label .icon {
    background: url(../../images/check_orange.png) 1px 2px no-repeat;
    border: 1px solid #ffc107;
}
.user-agreement .box {height: 240px;}
.user-agreement .sbox {height: 100px;}
.user-agreement .box.scroll {overflow: scroll; overflow-x: hidden;}
.user-agreement .box, .user-agreement .sbox {
    padding: 5px 20px 5px 15px;
    border: 1px solid #ccc;
    background: #fdfdfd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.user-agreement .box p, .user-agreement .sbox p {
    font-weight: bold;
    font-size: 14px;
    /*padding-bottom: 10px;*/
}
.user-agreement .txt-list li.f14, .pay-info .txt-list li.black {font-size: 14px; padding: 0 0 6px 10px;}
.user-agreement .txt-list li.black, .pay-info .txt-list li.black {
    color: #000;
    background: url(../../images/bul_black.png) 0 10px no-repeat;
}
.user-agreement .txt-list li.f13 {font-size: 13px;}
.user-agreement .txt-list li.check {
    padding: 5px 0 5px 14px;
    color: #6d6d6d;
    background: url(../../images/check_orange.png) 0 12px no-repeat;
}
.user-agreement .txt-point, .option-right .txt-point {color: #f04040;}

.underline {
    text-decoration: underline;
}

/* 결제 페이지 */
.txt_pay_discount {
    padding: 20px 0 20px 0;
    background: /*#a37f79*/ #ffc107;
    text-align: center;
}
.txt_pay_discount .txt1 {
    padding: 7px 0 0 35px;
    /*background: url(../../images/img_quotation_marks01.png) left top no-repeat; */
    color: #f10d0d;
    font-size: 20px;
    font-weight: 900;
    line-height: 20px;
}
.txt_pay_discount .txt2 {
    padding: 0 35px 7px 0;
   /* background: url(../../images/img_quotation_marks02.png) right bottom no-repeat;*/
}
.txt_pay_discount .txt3 {
    margin-top: 15px;
    color: #150101;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}
.pay-info .txt4 {
	display: block;
	color: #000;
	font-size: 14px;
}
.pay-info .pbox {
    /*padding: 30px 30px 40px 30px;*/
    border: 1px solid #ffc107;
    background: #fdfdfd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.option-right .box {
    /*padding: 30px 30px 40px 30px;*/
    border: 1px solid #ccc;
    background: #fdfdfd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 결제 카드 정보 */
.cardarea {
	width: 100px; 
	height: 50px;	
	margin-left: 10px;
	display: inline-block;		
	background: url(/bbc/resources/images/card_logo3.png) 0 12px no-repeat;
}


